/* line 11, ../sass/default.sass */
textarea {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 400px;
  min-height: 400px;
  max-height: 400px;
}

/* line 14, ../sass/default.sass */
pre {
  font-family: consolas, courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  white-space: pre;
  background-color: #ccf;
  color: #000;
  border: 1px solid #666;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  padding: 1em;
  margin: 1.2em 1em;
  width: 100%;
  height: 40%;
}

/* line 28, ../sass/default.sass */
code {
  font-family: monospace;
}

/* line 31, ../sass/default.sass */
input {
  margin: 10px 10px 10px;
}

/* line 34, ../sass/default.sass */
input.normal {
  width: 100px;
}

/* line 37, ../sass/default.sass */
input.message {
  width: 300px;
}

/* line 40, ../sass/default.sass */
div {
  border-bottom-style: solid;
  border-width: 1px;
  margin: 0px 10px 0px;
}

/* line 45, ../sass/default.sass */
span.title {
  color: blue;
  font-size: 1.2em;
  margin: 5px 10px 5px;
}

/* line 50, ../sass/default.sass */
span.info {
  color: red;
  font-size: 1em;
  margin: 5px 10px 5px;
}

/* line 55, ../sass/default.sass */
.logDiv {
  display: none;
}

/* line 58, ../sass/default.sass */
input[type=datetime-local] {
  margin: 5px 10px 5px;
}

/* line 62, ../sass/default.sass */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
/* line 65, ../sass/default.sass */
.ui-timepicker-div dl {
  text-align: left;
}
/* line 67, ../sass/default.sass */
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
/* line 72, ../sass/default.sass */
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}
/* line 76, ../sass/default.sass */
.ui-timepicker-div td {
  font-size: 90%;
}

/* line 80, ../sass/default.sass */
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/default.sass */
.ui-timepicker-rtl {
  direction: rtl;
}
/* line 88, ../sass/default.sass */
.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0;
}
/* line 91, ../sass/default.sass */
.ui-timepicker-rtl dl dt {
  float: right;
  clear: right;
}
/* line 95, ../sass/default.sass */
.ui-timepicker-rtl dl dd {
  margin: 0 45% 10px 10px;
}
