/* line 9, ../sass/default.sass */
textarea {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 600px;
  min-height: 600px;
  max-height: 600px;
}

/* line 12, ../sass/default.sass */
code {
  font-family: monospace;
}

/* line 15, ../sass/default.sass */
.syntaxhighlighter {
  width: 400px;
  height: 450px;
  overflow-y: auto !important;
  overflow-x: auto !important;
}
