/* line 12, ../scss/default.scss */
textarea {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 400px;
  min-height: 400px;
  max-height: 400px;
}

/* line 16, ../scss/default.scss */
pre {
  font-family: consolas, courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  white-space: pre;
  background-color: #ccccff;
  color: black;
  border: 1px solid #666666;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  padding: 1em;
  margin: 1.2em 1em;
  width: 100%;
}

/* line 30, ../scss/default.scss */
.preview {
  height: 20%;
}

/* line 33, ../scss/default.scss */
.filterLogs {
  height: 60%;
}

/* line 37, ../scss/default.scss */
code {
  font-family: monospace;
}

/* line 41, ../scss/default.scss */
input {
  margin: 10px 10px 10px;
}

/* line 45, ../scss/default.scss */
input.normal {
  width: 100px;
}

/* line 49, ../scss/default.scss */
input.message {
  width: 300px;
}

/* line 53, ../scss/default.scss */
div {
  border-bottom-style: solid;
  border-width: 1px;
  margin: 0px 10px 0px;
}

/* line 59, ../scss/default.scss */
span.title {
  color: blue;
  font-size: 1em;
  margin: 5px 10px 5px;
}

/* line 65, ../scss/default.scss */
span.info {
  color: red;
  font-size: 1em;
  margin: 5px 10px 5px;
}

/* line 71, ../scss/default.scss */
.logDiv {
  display: none;
}

/* line 75, ../scss/default.scss */
input[type=datetime-local] {
  margin: 5px 10px 5px;
}

/* line 80, ../scss/default.scss */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
/* line 83, ../scss/default.scss */
.ui-timepicker-div dl {
  text-align: left;
}
/* line 85, ../scss/default.scss */
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
/* line 90, ../scss/default.scss */
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}
/* line 94, ../scss/default.scss */
.ui-timepicker-div td {
  font-size: 90%;
}

/* line 99, ../scss/default.scss */
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

/* line 106, ../scss/default.scss */
.ui-timepicker-rtl {
  direction: rtl;
}
/* line 108, ../scss/default.scss */
.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0;
}
/* line 111, ../scss/default.scss */
.ui-timepicker-rtl dl dt {
  float: right;
  clear: right;
}
/* line 115, ../scss/default.scss */
.ui-timepicker-rtl dl dd {
  margin: 0 45% 10px 10px;
}
