@import compass/css3/border-radius

@mixin fixedTextarea($width, $height)
  width: $width
  min-width: $width
  max-width: $width
  height: $height
  min-height: $height
  max-height: $height

textarea
  @include fixedTextarea(400px, 600px)

code
  font-family: monospace

.syntaxhighlighter
  @include border-radius(3px, 3px)
  border: 1px dotted #808080
  border-radius: 3px
  max-height: 500px
  overflow: auto
  padding: 1px 1px 2px 2px
